<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1550520115-e9b95e845e4c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80);">
  <div class="nav-links">
    <%= link_to "Home", root_path, class: "nav-link" %>
    <%= link_to "Bio", bio_path, class: "nav-link" %>
    <%= link_to "Shows", shows_path, class: "nav-link" %>
    <%= link_to "Music", music_path, class: "nav-link" %>
    <%= link_to "Contact", contact_path, class: "nav-link" %>
  </div>
  <div class="container">
    <h1 class="title">Tsunami</h1>
  </div>
</div>
